.opcion-btn__button{
    background-color: var(--color-primario);
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 1rem 2rem;
    gap: 1.5rem;
    height: 4rem;
    width: 90%;

    border-radius: 10px;
}
    
.opcion-btn__texto{
    font-size: 1.3rem;
    font-family: var(--fuente-contenido);
    font-weight: 600;
    color: #fff;

    text-decoration: none;
}