.titulo-contenedor{
    color: #fff;
    background-color: var(--color-primario);
    padding: 0.8rem;
    border-radius: 10px;
    margin: 20px auto;
    width: 90%;
}


.titulo-contenedor__subtitulo{
    font-size: var(--fuente-pequena)
}