.card-lista-base--persona{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.card-lista-base--persona__header{
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
}

.card-lista-base--persona__blood-contenedor{
    background-color: var(--color-secundario);
    color: #fff;
    border-radius: 10px;
    padding: 5px;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.2rem;
}

.card-lista-base--persona__details{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    gap: 10px;
}

.card-lista-base--persona__details i{
    margin-right: 10px;
}
.card-lista-base--persona__details p{
    display: flex;
    
}

