/* REEMPLAZAR CON GRID! */

.form{
    width: 90vw;
    background-color: #fff;
    display: flex;
    flex-direction: column;

    gap: 1rem;
}

.form__container{
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid var(--color-placeholder);
    color: var(--color-placeholder);


    display: flex;
    gap: 0.5rem;
    align-items: center;


}

.form__container__input{
    border: none;

}

/* Para la tabla de integrantes */

.form--documento{
    display: flex;
    gap: 0.5rem;
}

.form--documento__container{
    width: 40%;
}

.form--documento__container__input{
    width: 100%;
}