@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --color-primario: #0770CC;
  --color-secundario: #ff6600;
  --color-terciario: #ffffff;
  --color-fondo: #f8f8f8;
  --color-texto: #2b2a29;
  --color-indice: #d9d9d9;
  --color-borde: rgba(43, 42, 41, 46%);
  --color-placeholder: rgba(43, 42, 41, 70%);
  --fuente-titulos: 'Roboto';
  --fuente-contenido: 'Open Sans';
  --margin-seccion: 20px;
}

body{
  background-color: var(--color-fondo);
}

header{
  background-color: var(--color-terciario);
}

.logo{
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 15px;
  padding: 20px;
  box-shadow: 1px 1px 10px rgb(184, 183, 183);
}

.logo__img{
  width: 50px;
  height: 50px;
  background-attachment: initial;
}

.logo__titulo{
  font-family: var(--fuente-titulos);
  font-weight: bold;
  font-size: 22px;
}

.container{
  padding: 10px;
  margin: 0 auto;
  width: 95%;
}

.container__titulo {
  font-family: var(--fuente-titulos);
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-texto);
  font-size: 20px;
  margin-top: var(--margin-seccion);
  text-align: center;
}

.instruciones {
  background-color: var(--color-primario);
  padding: 12px 5px;
  border-radius: 10px;
  font-family: var(--fuente-titulos);
  color: var(--color-terciario);
  text-align: center;
  margin-top: var(--margin-seccion);
  font-size: 18px;
  line-height: 25px;
}

.indices {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin: var(--margin-seccion) 0;
}

.indices__item {
  text-decoration: none;
  background-color: var(--color-indice);
  padding: 8px 12px;
  border-radius: 50%;
  color: var(--color-texto);
  font-family: var(--fuente-titulos);
  font-weight: bold;
  font-size: 18px;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.356));
}

.form {
  margin-top: var(--margin-seccion);
}

.form__item {
  border: 1px solid var(--color-placeholder);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: var(--margin-seccion);
}

.form__pregunta {
  display: flex;
  align-items: center;
  gap: 15px;
}

.form__pregunta__numero {
  font-family: var(--fuente-titulos);
  background-color: var(--color-primario);
  border-radius: 50%;
  padding: 8px;
  font-weight: bold;
  color: var(--color-terciario);
  text-align: center;
  font-size: 15px;
}

.form__pregunta__texto {
  font-family: var(--fuente-contenido);
  font-size: 16px;
}

.form__opciones {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 5px 0;
}

/* Ocultar el input real */
.form__opcion-input {
  display: none;
}

/* Estilo base del botón */
.form__opcion-label {
  padding: 10px 30px;
  border: 2px solid #ff6600;
  border-radius: 8px;
  color: var(--color-texto);
  background-color: transparent;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.2s ease;
  font-family: var(--fuente-titulos);
}

/* Hover (pasa el mouse) */
.form__opcion-label:hover {
  background-color: #ffe6cc;
}

/* Cuando el radio está seleccionado → mantener el color */
.form__opcion-input:checked+.form__opcion-label--si {
  background-color: #FF0000;
  color: white;
  border: #ff0000 1px solid;
}

.form__opcion-input:checked+.form__opcion-label--no {
  background-color: #36BD36;
  color: white;
  border: #36BD36 1px solid;
}

.btn {
  display:block;
  margin: 20px auto;
  background-color: var(--color-secundario);
  color: var(--color-terciario);
  font-family: var(--fuente-titulos);
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 10px;
  padding: 15px 25px;
  font-size: 16px;
}

.enlaces {
  text-decoration: none;
}